@page
@using Pages.Extensions
@model WebApp.Areas.TitleSystem.Pages.Titles.EditModel

@{ Layout = "_Edit"; }

<body>
    @Html.HiddenEditControlsFor(model => model.Item.Id)
    @Html.EditControlsFor(model => model.Item.Name)
    @Html.EditControlsFor(model => model.Item.TitlePrefix)

</body>