@page
@using global::Pages.Extensions
@model IndexModel
@{
    ViewData["Title"] = "Title System";
    var page = "/TitleSystem/Titles";
    var peoplePage = "/TitleSystem/People";
}

<body class="background">
    <div class="text-center">
        <h1 class="display-1">
            <strong>Triple M TitleSystem</strong>
        </h1>
    </div>
    <div class="text-center">
        @Html.HypertextLinkFor(string.Empty, new Link(Constants.createNewTitleTitle, $"{page}/Create"))
        @Html.HypertextLinkFor(string.Empty, new Link(Constants.createNewPersonTitle, $"{peoplePage}/Create"))
    </div>
</body>