@page
@using Pages.Extensions
@model WebApp.Areas.TitleSystem.Pages.PersonTitles.DeleteModel

@{ Layout = "_Delete"; }
<body>
    @Html.DisplayControlsFor(model => model.Item.PersonId, Model.GetPersonName(Model.Item.PersonId))
    @Html.DisplayControlsFor(model => model.Item.TitleId, Model.GetTitleName(Model.Item.TitleId))
@Html.DisplayControlsFor(model => model.Item.Id)
@Html.DisplayControlsFor(model => model.Item.Name)

</body>